    html,
    body {
        margin: 0;
        padding: 0.3em;
        font-style: 'Nunito';
    }
    
    .header {
        background-color: bisque;
        padding: 2em;
        padding-left: 1em;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .menu li {
        display: inline;
        margin-right: 2vw;
    }
    
    .nurture {
        width: 90vw;
        margin-bottom: 30px;
        display: flex;
        margin: auto;
    }
    
    .moringa {
        background-color: #e7c6ce;
        padding: 1em;
        width: 40vw;
        /* vertical-align: top; */
    }
    
    .moringa ul {
        display: flex;
    }
    
    .moringa ul>button {
        margin-right: 2em;
    }
    
    .moringa2 img {
        display: inline;
        width: 45vw;
        height: 35vh;
        background-color: rgb(250, 246, 242);
    }
    
    .stories img {
        width: 45vw;
        height: 35vh;
        padding: 5px;
    }
    
    .text {
        width: 45vw;
        padding: 1em;
    }
    
    h1 {
        color: #ed4068;
    }
    
    h3 {
        color: #EC4067
    }
    
    .stories .orientation {
        background-color: azure;
        margin-bottom: 15px;
        padding: 10px;
        display: flex;
    }
    
    .stories .board-meeting {
        background-color: #d5dfdf;
        margin-bottom: 15px;
        padding: 10px;
        display: flex;
    }
    
    .stories .graduation-party {
        background-color: azure;
        margin-bottom: 25px;
        padding: 10px;
        display: flex;
    }
    
    .stories button {
        padding: 10px 15px 10px 15px;
    }
    
    .stories h3 {
        color: black;
        font-size: large;
    }
    
    button {
        background-color: #EC4067;
        border-radius: 5px;
        border: none;
        color: white;
        font-size: small;
    }
    
    .button2 {
        background-color: white;
        border-radius: 5px;
        padding: 0.5em;
        border-color: #EC4067;
        color: black;
        border-style: solid;
        border-width: 1px;
    }
    
    .mentors {
        padding: 10px;
        padding-bottom: 20px;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
    }
    
    .mentors img {
        width: 22vw;
        border-radius: 10px;
    }
    
    .mentors h5 {
        color: red;
        margin-bottom: 0.2vh;
        margin-top: -2vh;
        font-size: smaller;
    }
    
    .mentors button {
        font-size: 10px;
        padding: 1em;   
    }

    #mentor{
        position: relative;
        font-size: smaller;
        top: -5vh;
        left: -5vw;
        color: white;
    }
    
    .mentors .column {
        width: 23vw;
        background-color: #e6ecec;
        margin: 0.6em;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        padding-bottom: 0.5em;
    }
    
    .column p {
        font-size: small;
        padding-left: 1vw;
        padding-right: 1vw;
        text-align: justify;
    }
    
    .cool-bike {
        background-color: azure;
        padding: 1em;
        display: flex;
        margin: auto;
    }
    
    .project button {
        margin-bottom: 12px;
    }
    
    .cool {
        width: 45vw;
        padding-right: 1em;
    }
    
    .bike img {
        width: 45vw;
        height: 38vh;
    }
    
    .sure {
        padding: 10px;
        padding-bottom: 50px;
        margin: 10px;
    }
    
    .footer {
        background-color: rgb(161, 153, 153);
        text-align: center;
        color: black;
        padding: 18px;
    }