html, body {
  margin: 0;
  padding: 10px;
  font-style: 'Nunito';
  

}
.header {
  background-color: bisque;
  padding: 10px;
  padding-left: 20px;

}
img {
  height: 300px;
  width: 350px;
}
.stories img {
  max-width: fit-content;
}
h1 {
  color: rgb(237, 64, 104);
}
h3 {
  color: #EC4067
}
.stories h3 {
  color: black;
  font-size: large;
}
ul {
  display: inline;
  list-style: none;
}
button {
  background-color: #EC4067;
  border-radius: 5px;
  border: none;
  padding: 6px;
  color: white;
  font-size: small;
}
.button2 {
  background-color: white;
  border-radius: 0px;
  padding: 6px;
  border-color: #EC4067;
  color: black;

}

.mentors {
  background-color: beige;
  padding: 10px;
  float: left;
  text-align: center;
  margin-bottom: 25px;

}
.mentors h5 {
  color: red;
  display: block;
  font-weight: 500;

}
.column {
  float: left;
  width: 24%;
  padding: 3px;
}
.column p {
  font-size: small;
}
.column button {
  font-size: x-small;
}
.name1 {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.mentors::after {
  content: "";
  clear: both;
  display: table;
}
/*.name {
  position: absolute;
  bottom: 8px;
  left: 16px;
}*/
.moringa img {
  display: inline;
}

.footer {
  background-color: rgb(161, 153, 153);
  text-align: center;
  color: black;
  padding: 18px
}